*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    
    background-color: rgb(255, 200, 0);
    border-radius: 75%;
}


.row{
    margin:0 auto;
    max-width: 1200px;
    padding: 24px 64px;
}

section{
    margin-bottom: 16px;
}
/* CSS in styles.css or within a <style> tag */
header {
    background-color: #333; /* Background color */
    color: whitesmoke; /* Text color */
    padding: 20px; /* Spacing around content */
}

.nav__logo--img {
    max-width: 150px; /* Adjust logo size */
  
}

.gold{
    color:goldenrod;
}

nav ul {
    list-style: none;
    padding: 0;
   justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.more{
    background-color: goldenrod;
}
nav li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between menu items */
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-shadow: -1px 0 whitesmoke, 0 1px white, 1px 0 white, 0 -1px
}



/*  CSS in styles.css or within a <style> tag */
footer {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 0; /* Spacing above and below content */
    text-align: center; /* Center-align content */
}

footer p {
    margin: 0; /* Remove default margin on <p> element */
   
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between links */
}

nav a {
    text-decoration: none;
    color: #fff;
}

.nav--links{
    display: flex;
}

.nav__link--anchor{
color: black;
font-weight: 500;
}



/* Movies */

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 24px;
}

.movie{
    max-width: 33%;
    margin: 0 10px;
    margin-bottom: 24px;
    text-align:center
}

.movie h4{
    margin-top: 4px;
}

/* Skeleton */
.skeleton__text{
    position: absolute;
    font-size: 30px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px){
    .movies {
        flex-wrap: none;
        overflow-x: auto;
        justify-content: center;
    }

    .movie{
 max-width: none;
 margin:0px 10px;
 margin-bottom:24px;
    }

    .nav__link--sign-in{
        display: none;
    }

    .header__title{
        text-align: center;
    }
}